/* HEADER & SEARCH BAR */
header {
  @include flex(row);
  grid-area: header;
  width: 100%;
}

span {
  color: $bright-green;
  font-weight: 400;
}

.header-apple-icon {
  @include dimensions(40px, 35px);
  margin-left: 5px;
}

#search {
  @include flex(row);
  border-radius: 15px 15px 15px 15px;
  border: 3px outset $bright-green;
  box-shadow: 0px 0px 7px 0px $blue;
  font-family: $primary-font;
  margin: 1.2% 0.5% 1.2% 0%;
  width: 100%;

  #search-input {
    @include dimensions(100%, 100%);
    background-color: #b6dcca;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(255, 255, 255)), color-stop(1, rgb(225, 225, 225)));
    border-radius: 10px 0px 0px 10px;
    border: none;
    box-shadow: inset -3px -1px 20px 1px $blue;
    color: $blue;
    font-family: $primary-font;
    font-size: 42px;
    outline: none;
    padding: 0%;
    text-align: right;
    transition: .8s ease;

    &:hover {
      box-shadow: inset 0px 0px 0px 0px $white;
      transition: .8s ease;


      &:focus {
        box-shadow: inset 0px 0px 0px 0px $white;
      }
    }
  }
}

#search-input::placeholder {
  color: $blue;
  font-size: 20px;
  text-align: right;
  text-shadow: none;
}

#search-input:focus::placeholder {
  font-size: 0px;
  transition: .8s ease;
}

.search-label {
  display: none;
}

.nav-btn {
  @include flex(column);
  align-items: center;
  background: $blue no-repeat;
  border: none;
  cursor: pointer;
  font-size: 0px;
  font-weight: 700;
  margin: 1% 0%;
  outline: none;
  overflow: hidden;
  text-align: center;
  transition: .4s ease;
  width: 15%;

  &:hover {
    color: $bright-green;
    font-size: 14px;
    text-shadow: 0px 2px 4px black;
    transition: .4s ease;


  }
}

.nav-btn {
  img {
    max-height: 40px;
    max-width: 40px;
    padding: 2px 0px;
  }
}

.my-pantry-btn {
  border-left: 3px solid $bright-green;
}

/* BANNER IMAGE*/
.banner-image {
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../images/green-apples.jpg");
  grid-area: image;
  height: 150px;
  overflow: hidden;
  width: 100%;
}

.my-recipes-banner,
.welcome-msg {
  text-align: center;
  width: 95%;
  margin-top: 50px;


  h1 {
    color: $white;
    width: 100%;
  }
}

.my-recipes-banner {
  display: none;
  margin-top: 25px;
}

