@import "variables";
@import "mixins";
@import "navbar";
@import "cards";
@import "tablet";

body {
  background-color: $blue;
  display: grid;
  font-family: $primary-font;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
    "header header"
    "image image"
    "aside cards";
  height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: auto;
}

section {
  @include flex(row);
}

h1 {
  align-self: center;
  color: $white;
  font-family: $bold-font;
  font-size: 50px;
  margin: 0%;
  padding: 0.5% 0.7% 0%;
  width: 70%;
}

h2 {
  color: $dark-green;
  margin: 10px 0px 10px 0px;
}

h3 {
  color: $dark-green;
  cursor: pointer;
  height: 17%;
  margin: 5px 5px 10px 0px;
  transition: .8s ease;
}

h4 {
  color: $dark-green;
  border: 2pt $bright-green solid;
  border-radius: 3px;
  margin: 10px 0px 0px 0px;
  padding: 1px 4px;
  width: max-content;
}

/* FILTER SIDEBAR */
aside {
  background-color: $white;
  @include flex(column);
  justify-content: flex-start;
  min-height: 100vh;
}

.wrap {
  @include flex(column);
  text-align: center;
  @include dimensions(auto, 200px);
  background-color: $white;
  padding: 10px;
  position: relative;
}

ul {
  justify-content: center;
  list-style-type: none;
  text-align: center;
  padding-left: 27px;

  li {
    margin: 2px;
  }
}

.pantry-tag-list {
  list-style-type: disc;
}

.pantry-drop-down,
.tag-drop-down {
  max-height: 0.8em;
  max-width: 1em;
}

/* BUTTONS */
.square-btns {
  @include dimensions(40px, 200px);
  background-color: $dark-green;
  border: 0;
  border-radius: 3px;
  color: compliment($dark-green);
  cursor: pointer;
  font-family: $primary-font;
  font-size: 12pt;
  font-weight: bold;
  padding: 5px 10px;
  margin-top: 20px;

  &:hover {
    background-color: $bright-green;
    color: $dark-green;
  }
}

@media screen and (max-width: 900px) {

  body {
    background-color: $blue;
    font-family: $primary-font;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "image"
      "aside"
      "cards";
    height: 100vh;
    -webkit-font-smoothing: auto;
    float: inline-start;
  }

  aside {
    background-color: $white;
    @include flex(column);
    @include dimensions(auto, auto);
    align-items: center;
    width: 100vw;
    min-height: 25vh;
    position: static;
    position: relative;
  }

  .card-container {
  grid-area: cards;
  @include flex(row);
  width: 100vw;
}
  .wrap {
    @include flex(column);
    background-color: transparent;
    padding: 0;
    width: 100vw;
  }

  .filter-btn {
    margin: 5%;
    align-self: center;
  }

  .pantry-tag-list,
  .tag-list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 100vw;
  }

  .pantry-tag-list li {
    border: 2pt $dark-green solid;
    list-style-type: none;
    padding: 1%
  }
}

@media screen and (max-width: 750px) {
  header {
    flex-wrap: wrap;
    align-items: center;
  }

  .title {
    width: auto;
    justify-content: center;
  }

  #search {
    width: 85%;
  }

// /* RECIPE INSTRUCTIONS */

.recipe-display {
  @include flex(column);
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 5%;

  h4 {
    align-self: center;
  }
}

.ing-list {
  @include flex(column);
  align-items: flex-start;
}

#exit-recipe-btn {
  margin: -6% -3% 2% -5%;
}
}

.hidden {
  display: none!important;
}
